{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Manual</title>
        <link rel="stylesheet" href="{% static 'css/index/index.css' %}">
    </head>
    <body>
        <h3>
            How to use the 
            <br>
            <a id="api">API's</a>
        </h3>

        <main>
            <h4 class="title" >- How to use it -</h4>
            <p>First of all, if you want to add some new data, click <a href="http://127.0.0.1:8000/admin/">here</a> to go right to Django Administration.</p> 
            <p>When done, check this urls to view the api:</p>
            <ul>
                <li><a href="http://127.0.0.1:8000/api/1.0/conds/">conds/</a> - List all the condominiuns registered.</li>
                <br>
                <li><a href="http://127.0.0.1:8000/api/1.0/cnpjs/">cnpjs/</a> - List all the cnpjs registered.</li>
                <br>
                <li><a href="http://127.0.0.1:8000/api/1.0/cond/2/">cond/(number)/</a> - List a specific condominium registered by your ID.</li>
                <br>
                <li><a href="http://127.0.0.1:8000/api/1.0/cnpj/2/">cnpj/(number)/</a> - List a specific cnpj registered by your ID.</li>
                <br>
                <li><a href="http://127.0.0.1:8000/api/1.0/infos/">infos/</a> - List all information about the condominiuns registered.</li>
                <br>
                <li><a href="http://127.0.0.1:8000/api/1.0/info/2/">info/(number)/</a> - List a specific the condominiuns registered information.</li>
            </ul>
        </main>

        <article>
            <h4 class="title">- Why use it? -</h4>
            <p>This is just a simulation and his goal is to keep your data ordered and also provide some relative and important informations by using Django API's system. It also can be improved by many ways, including new awesome features!</p>
        </article>

        <footer>
            <h4 class="title" >Registered Condominiums</h4>
            <ul>
                {% for f in name %}
                <li><a href="http://127.0.0.1:8000/api/1.0/info/{{ f.id }}/">{{ f.name }}</a></li>
                <br>
                {% endfor %}
            </ul>
        </footer>
    </body>
</html>